<section id="batch-timings" class="content-section text-center">
    <div class="batchtimings-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">

                <div id="batch" class="panel panel-primary transparent-background">
                    <div class="panel-heading">
                        <h3 class="panel-title">Batch Timings</h3>
                    </div>
                    <div class="panel-body">
                        <h3><span class="label label-success">CA IPCC/ CS executive</span><br><br>May-June'15 - Monday to Friday from 7.45 am to 10. 30 a.m.</h3>
                        <h3>Nov-Dec'15 - Monday, Wednesday, Friday from 10.45 a.m. to 1.00 p.m</h3>
                        <h5><span class="label label-danger">Back up available</span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
