<div class="alert alert-default text-center" role="alert">
    <a class="btn btn-lg btn-success" href="tel:+9184200763499" role="button">
            <abbr title="Phone"><i class="fa fa-phone fa-2x"></i></abbr>
           
        </a><strong class="phone-number">+918420076349</strong> 
<a class="btn btn-lg btn-success" href="tel:+9184200763499" role="button">
            <abbr title="Phone"><i class="fa fa-phone fa-2x"></i></abbr>
            
        </a><strong class="phone-number">+918336832356</strong>
</div>